<div class="row">
    <div class="col-md-12 col-lg-8">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <h5>Total Revenue</h5>
                <div>
                    <nz-radio-group
                        [(ngModel)]="revenueChartFormat" 
                        (ngModelChange)="branchChange($event)"
                    >
                        <label nz-radio-button nzValue="revenueMonth">Month</label>
                        <label nz-radio-button nzValue="revenueYear">Year</label>
                    </nz-radio-group>
                </div>
                <div>
                    <a class="text-dark font-size-20" nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'" [nzDropdownMenu]="projectCompletionDropDown">
                        <i nz-icon nzType="ellipsis" theme="outline"></i>
                    </a>
                    <nz-dropdown-menu #projectCompletionDropDown="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item>
                                <i nz-icon nzType="printer" theme="outline"></i>
                                <span class="m-l-5">Print</span>
                            </li>
                            <li nz-menu-item>
                                <i nz-icon nzType="download" theme="outline"></i>
                                <span class="m-l-5">Download</span>
                            </li>
                            <li nz-menu-item>
                                <i nz-icon nzType="file-excel" theme="outline"></i>
                                <span class="m-l-5">Export</span>
                            </li>
                            <li nz-menu-item>
                                <i nz-icon nzType="reload" theme="outline"></i>
                                <span class="m-l-5">Refresh</span>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
            <div class="m-t-50" style="height: 330px">
                <canvas 
                    ngChartjs 
                    [datasets]="revenueChartData" 
                    [labels]="revenueChartLabels"
                    [options]="revenueChartOptions" 
                    [colors]="revenueChartColors" 
                    [legend]="false"
                    [chartType]="revenueChartType">
                </canvas>
            </div>
        </nz-card>
    </div>
</div>