<h2>Chi hộ</h2>
<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-10">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Account Name..." [(ngModel)]="searchAccountName" (ngModelChange)="searchAccount()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div> 
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select 
                        style="min-width: 220px;" 
                        class="w-100" 
                        nzPlaceHolder="Status" 
                        [(ngModel)]="selectedStatus" 
                        (ngModelChange)="statusChange($event)"
                    >
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option nzLabel="Success" nzValue="success"></nz-option>
                        <nz-option nzLabel="Fail" nzValue="fail"></nz-option>
                    </nz-select>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-range-picker [nzFormat]="dateFormat" [(ngModel)]="searchDate" (ngModelChange)="onChangeDateRange($event)"></nz-range-picker>
                </div>
                <div class="media align-items-center m-r-40 m-v-5">
                    <div class="font-size-27">
                        <i class="text-primary" nz-icon nzType="profile" theme="outline"></i>
                    </div>
                    <div class="d-flex align-items-center m-l-10">
                        <h2 class="m-b-0 m-r-5">{{totalMoney | number}}</h2>
                        <span class="text-gray">VND</span>
                    </div>
                </div>
                <!-- <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <button nz-button nzType="primary" (click)="showStatisticModal(statisticContent)">
                        <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
                        <span>Statistic</span>
                    </button>
                </div> -->
            </div>          
        </div>
        <!-- <div class="col-lg-2 text-right" style="display: flex;">
            <nz-upload
                nzAction="/assets/upload"
                nzAccept=".txt"
                [nzHeaders]="{ authorization: 'authorization-text' }"
                (nzChange)="uploadFile($event, sendMultipleMessageContent)"
            >
                <button nz-button><i nz-icon nzType="upload"></i>Upload</button>
            </nz-upload>
            <span style="margin-left: 3px"></span>
            <button nz-button nzType="primary" (click)="showSendMessageModal(sendMessageContent)">
                <i nz-icon nzType="plus"></i>
                <span>Message</span>
            </button>
        </div> -->
    </div>
    <nz-table 
        #paymentsListTable 
        [nzData]="withdraws"
        [nzFrontPagination]="false"
        nzShowSizeChanger
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzPageSizeOptions] = "[5, 10, 20, 30, 40, 50]"
    >
        <thead>
            <tr>
                <th width='1%'>ID</th>
                <th width='11%'>Account</th>
                <th width='9%'>Amount</th>
                <th width='7%'>Bank</th>
                <th width='10%'>Content</th>
                <th width='1%'>Transaction</th>
                <th width='6%'>Error Code</th>
                <th width='6%'>TCB Res</th>
                <th width='9%'>Status</th>
                <th width='10%'>Create Date</th>
                <th width='10%'>Update Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paymentsListTable.data; let i=index">
                <td>{{item.id}}</td>
                <td>
                    {{item.accountName}}
                </td>
                <td>{{item.amount | number}}</td>
                <td>
                    <img style="width: 100%;"  src="assets/images/logo/TCB.png" />
                </td>
                <td>{{item.description}}</td>
                <td>{{item.transactionId}}</td>
                <td>{{item.errorCodeLT}}</td>
                <td>{{item.responseTCB1}}</td>
                <td>
                    <nz-tag *ngIf="item.status == 'COMPLETED-AUTH' || item.status == 'COMPLETED-'" [nzColor]="'cyan'">
                        <span>{{item.status}}</span>
                    </nz-tag>
                    <nz-tag nz-tooltip nzTooltipTitle="{{item.responseTCB2}}" *ngIf="item.status == 'DENIED-DENIED'  || item.status == 'REJECTED-' || item.status == 'REJECTED-NAUT'" [nzColor]="'volcano'">
                        <span>{{item.status}}</span>
                    </nz-tag>
                </td>
                <td>{{item.createDate  | date:'dd/MM/YYYY hh:mm:ss a'}}</td>
                <td>{{item.updateDate  | date:'dd/MM/YYYY hh:mm:ss a'}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>