<footer class="footer">
    <!-- <div class="footer-content justify-content-between">
        <p class="m-b-0">©2021 Công Ty Cổ Phần Chứng Khoán Bản Việt.</p>
        <span>Giấy phép số 15/GP-TTDT Bộ thông tin và truyền thông cấp ngày 29/07/2008
        </span>
    </div> -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-4">
                            <span
                             style="font-size: 15px;
                             font-weight: 500;
                             ">Trụ sở chính </span><br />
                            Tháp tài chính Bitexco, tầng 15, 2 Hải Triều , Quận 1, TP. HCM <br />
                            Tel: (+84) 28 3914 3588
                            Fax: (+84) 28 3914 3209
                        </div>
                        <div class="col-md-4">
                            Chi nhánh Hà Nội <br />
                            109 Trần Hưng Đạo, Quận Hoàn Kiếm, HN
                            Tel: (+84) 24 6262 6999
                            Fax: (+84) 24 6278 2688
                        </div>
                        <div class="col-md-4">
                            Phòng giao dịch Đống Đa <br />
                            9 Nguyễn Ngọc Doãn, Phường Quang Trung, Quận Đống Đa, HN
                            Tel: (+84) 2 8888 2 6868
                            Fax: (+84) 24 6278 2688
                        </div>
                    </div>
        </div>
    </div>
</footer>