<footer class="footer" style="background-color: #17191c;">
    <div class="row"  style="padding: 20px;">
        <div class="col-md-12 col-lg-12" style="margin-bottom: 30px;">
            <div class="row">
                <div class="col-md-4">
                    <span
                        style="font-size: 15px;
                        font-weight: 500; color: #c1c7d0;
                        ">Trụ sở chính </span><br />
                        <span style="font-size: 12px;
                        color: #7a869a;
                        margin-top: 5px;">
                            Tháp tài chính Bitexco, tầng 15, 2 Hải Triều , Quận 1, TP. HCM <br />
                            <span>
                                • Tel: (+84) 28 3914 3588
                                Fax: (+84) 28 3914 3209
                            </span>
                        </span>
                </div>
                <br />
                <div class="col-md-4">
                    <span
                    style="font-size: 15px;
                    font-weight: 500; color: #c1c7d0;
                    ">Chi nhánh Hà Nội </span><br />
                    <span style="font-size: 12px;
                    color: #7a869a;
                    margin-top: 5px;">
                        109 Trần Hưng Đạo, Quận Hoàn Kiếm, HN <br />
                        • Tel: (+84) 24 6262 6999
                        Fax: (+84) 24 6278 2688
                    </span>
                </div>
                <div class="col-md-4">
                    <span
                    style="font-size: 15px;
                    font-weight: 500; color: #c1c7d0;
                    ">Phòng giao dịch Đống Đa </span><br />
                    <span style="font-size: 12px;
                    color: #7a869a;
                    margin-top: 5px;">
                        9 Nguyễn Ngọc Doãn, Phường Quang Trung, Quận Đống Đa, HN <br />
                        • Tel: (+84) 2 8888 2 6868
                        Fax: (+84) 24 6278 2688
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" >
            <div class="row">
                <div class="col-md-4">
                    <span
                        style="font-size: 15px;
                        font-weight: 500; color: #c1c7d0;
                        ">Trụ sở chính </span><br />
                    <span style="font-size: 12px;
                    color: #7a869a;
                    margin-top: 5px;">
                        Tòa nhà Vinatex, tầng 3, 10 Nguyễn Huệ, Quận 1, TP. HCM<br />
                        • Tel: (+84) 2 8888 2 6868
                        Fax: (+84) 28 3914 3209
                    </span>
                </div>
                <br />
                <div class="col-md-4">
                    <span
                    style="font-size: 15px;
                    font-weight: 500; color: #c1c7d0;
                    ">Phòng giao dịch Hàm Nghi </span><br />
                    <span style="font-size: 12px;
                    color: #7a869a;
                    margin-top: 5px;">
                        Tòa nhà Doji, tầng 16, số 81-83-83B-85 Hàm Nghi, Q1, TP.HCM<br />
                        • Tel: (+84) 2 8888 2 6868
                    </span>
                </div>
                <div class="col-md-4">
                    <span
                    style="font-size: 15px;
                    font-weight: 500; color: #c1c7d0;
                    ">Phòng giao dịch Pasteur </span><br />
                    <span style="font-size: 12px;
                    color: #7a869a;
                    margin-top: 5px;">
                        Tòa nhà Sailing, tầng 8, 111A Pasteur, Quận 1, TP.HCM<br />
                        • Tel: (+84) 2 8888 2 6868
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>