<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Search Phone Number" [(ngModel)]="searchPhone" (ngModelChange)="searchPhoneNumber()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select 
                        style="min-width: 220px;" 
                        class="w-100" 
                        nzPlaceHolder="Status" 
                        [(ngModel)]="selectedStatus" 
                        (ngModelChange)="statusChange($event)"
                    >
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option nzLabel="Success" nzValue="1"></nz-option>
                        <nz-option nzLabel="Fail" nzValue="0"></nz-option>
                    </nz-select>
                </div>
                <!-- <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Status" [(ngModel)]="selectedStatus" (ngModelChange)="statusChange($event)">
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option nzLabel="In Stock" nzValue="in stock"></nz-option>
                        <nz-option nzLabel="Out Of Stock" nzValue="out of stock"></nz-option>
                    </nz-select>
                </div> -->
            </div>          
        </div>
        <div class="col-lg-4 text-right">
            <a nz-button nzType="primary">
                <i nz-icon nzType="plus-circle" theme="outline"></i>
            </a>
        </div>
    </div>

    <nz-table 
        #productsListTable 
        [nzData]="messages"
        [nzFrontPagination]="false"
        nzShowSizeChanger
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)"
    >
        <thead>
            <tr>
                <th width='3%'>ID</th>
                <th width='10%'>Phone Number</th>
                <th width='10%'>Route Rule</th>
                <th width='10%'>Template</th>
                <th width='10%'>List Param</th>
                <th width='15%'>ID Omni</th>
                <th width='5%'>Channel</th>
                <th width='20%'>Time Send</th>
                <th width='25%'>Time Add</th>
                <th width='5%'>Status</th>
                <th width='30%'>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productsListTable.data; let i=index">
                <td>{{item.id}}</td>
                <td>
                    {{item.phonenumber}}
                </td>
                <td>
                    <span *ngFor="let rule of item.routerule">
                        <nz-tag [nzColor]="'cyan'">
                            <span *ngIf="rule == '1'"> Zalo Notification Service</span> 
                            <span *ngIf="rule == '2'"> Autocall</span> 
                            <span *ngIf="rule == '3'"> SMS Brandname</span> 
                        </nz-tag>
                        <br/>
                    </span>
                </td>
                <td>{{item.templatecode}}</td>
                <td>
                    <span *ngIf="item.templatecode == 'VCSC02'">
                        <nz-tag 
                            [nzColor]="'blue'"
                        >
                            Account: {{item.list_param.account}}
                        </nz-tag>
                        <br/>
                        <nz-tag 
                            [nzColor]="'blue'"
                        >
                            Day: {{item.list_param.day}}
                        </nz-tag>
                        <br/>
                        <nz-tag 
                            [nzColor]="'blue'"
                        >
                            Price: {{item.list_param.price}}
                        </nz-tag>
                        <br/>
                        <nz-tag 
                            [nzColor]="'blue'"
                        >
                            Quantity: {{item.list_param.quantity}}
                        </nz-tag>
                        <br/>
                        <nz-tag 
                            [nzColor]="'blue'"
                        >
                            Type: {{item.list_param.type}}
                        </nz-tag>
                        <br/>
                        <nz-tag 
                            [nzColor]="'blue'"
                        >
                            Serie: {{item.list_param.serie}}
                        </nz-tag>
                        <br/>
                    </span>
                    <span *ngIf="item.templatecode == 'VCSC01'">
                        <nz-tag 
                            [nzColor]="'blue'"
                        >
                            Otp: {{item.list_param.otp}}
                        </nz-tag>
                    </span>
                </td>
                <td>{{item.id_omni}}</td>
                <td>{{item.channel}}</td>
                <td>{{item.timesend}}</td>
                <td>{{item.timeadd}}</td>
                <td style="text-align: center;">
                    <nz-badge *ngIf="item.complete == '1'" nzStatus="success"></nz-badge>
                    <nz-badge *ngIf="item.complete != '1'" nzStatus="error"></nz-badge>
                </td>
                <td class="text-md-right">
                    <a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Edit" >
                        <i nz-icon nzType="edit" theme="outline"></i>
                    </a>
                    <!-- <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete">
                        <i nz-icon nzType="delete" theme="outline"></i>
                    </button> -->
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>