<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Search Phone Number" [(ngModel)]="searchPhone" (ngModelChange)="searchPhoneNumber()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select 
                        style="min-width: 220px;" 
                        class="w-100" 
                        nzPlaceHolder="Status" 
                        [(ngModel)]="selectedStatus" 
                        (ngModelChange)="statusChange($event)"
                    >
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option nzLabel="Success" nzValue="1"></nz-option>
                        <nz-option nzLabel="Fail" nzValue="0"></nz-option>
                    </nz-select>
                </div>
            </div>          
        </div>
        <div class="col-lg-4 text-right">
            <button nz-button nzType="primary" (click)="showSendMessageModal(sendMessageContent)">
                <i nz-icon nzType="plus"></i>
                <span>Message</span>
            </button>
            <ng-template #sendMessageContent>
                <form nz-form nzLayout="vertical">
                    <nz-form-item>
                        <nz-form-label nzRequired>Phone number</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixPhone">
                                <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" nz-input placeholder="Please input phone number" />
                            </nz-input-group>
                            <ng-template #prefixPhone><i nz-icon nzType="phone"></i></ng-template>
                            <nz-form-explain *ngIf="requiredForm.phoneNumber" style="color: red;">
                                Please input phone number!
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzRequired>Content</nz-form-label>
                        <nz-form-control>
                            <textarea name="contentMessage" [(ngModel)]="contentMessage" nz-input></textarea>
                        </nz-form-control>
                        <nz-form-explain *ngIf="requiredForm.content" style="color: red;">
                            Please input content message!
                        </nz-form-explain>
                    </nz-form-item>
                </form>
                
            </ng-template>
        </div>
    </div>

    <nz-table 
        #productsListTable 
        [nzData]="messages"
        [nzFrontPagination]="false"
        nzShowSizeChanger
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)"
    >
        <thead>
            <tr>
                <th width='3%'>ID</th>
                <th width='10%'>Phone Number</th>
                <th width='10%'>Route Rule</th>
                <th width='10%'>Template</th>
                <th width='15%'>Content</th>
                <th width='15%'>ID Omni</th>
                <th width='5%'>Channel</th>
                <th width='20%'>Time Send</th>
                <th width='25%'>Time Add</th>
                <th width='5%'>Status</th>
                <th width='30%'>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productsListTable.data; let i=index">
                <td>{{item.id}}</td>
                <td>
                    {{item.phonenumber}}
                </td>
                <td>
                    <span *ngFor="let rule of item.routerule">
                        <nz-tag [nzColor]="'cyan'">
                            <span *ngIf="rule == '1'">ZNS</span>
                            <span *ngIf="rule == '2'">Autocall</span>
                            <span *ngIf="rule == '3'">SMS Brandname</span>
                        </nz-tag>
                        <br/>
                    </span>
                </td>
                <td>{{item.templatecode}}</td>
                <td>
                    <span *ngIf="item.templatecode === 'VCSC02'">
                        <!-- <nz-tag 
                            [nzColor]="'blue'"
                        > -->
                            VCSC: KQKL CKPS NGAY {{item.list_param.day}}
                            CUA QUI KHACH TK {{item.list_param.account}}
                            {{item.list_param.type}} {{item.list_param.serie}}
                            KL {{item.list_param.quantity}}
                            GIA {{item.list_param.price}}
                        <!-- </nz-tag> -->
                    </span>
                    <span *ngIf="item.templatecode === 'VCSC01'">
                        <!-- <nz-tag 
                            [nzColor]="'blue'"
                        > -->
                            Otp: {{item.list_param.otp}}
                        <!-- </nz-tag> -->
                    </span>
                    <span *ngIf="item.templatecode === 'vcsc-freetemp'">
                        <!-- <nz-tag 
                            [nzColor]="'blue'"
                        > -->
                            {{item.list_param.sendstr}}
                        <!-- </nz-tag> -->
                    </span>
                </td>
                <td>{{item.id_omni}}</td>
                <td>{{item.channel}}</td>
                <td>{{item.timesend}}</td>
                <td>{{item.timeadd}}</td>
                <td style="text-align: center;">
                    <nz-badge *ngIf="item.complete == '1'" nzStatus="success"></nz-badge>
                    <nz-badge *ngIf="item.complete != '1'" nzStatus="error"></nz-badge>
                </td>
                <td class="text-md-right">
                    <a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Edit" >
                        <i nz-icon nzType="edit" theme="outline"></i>
                    </a>
                    <!-- <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete">
                        <i nz-icon nzType="delete" theme="outline"></i>
                    </button> -->
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>