<h2>Send Notification Follower</h2>
<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-10">
            <!-- <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Search Phone Number" [(ngModel)]="searchPhone" (ngModelChange)="searchPhoneNumber()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div> 
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select 
                        style="min-width: 220px;" 
                        class="w-100" 
                        nzPlaceHolder="Status" 
                        [(ngModel)]="selectedStatus" 
                        (ngModelChange)="statusChange($event)"
                    >
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option nzLabel="Success" nzValue="1"></nz-option>
                        <nz-option nzLabel="Fail" nzValue="0"></nz-option>
                    </nz-select>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-range-picker [nzFormat]="dateFormat" [(ngModel)]="searchDate" (ngModelChange)="onChangeDateRange($event)"></nz-range-picker>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <button nz-button nzType="primary" (click)="showStatisticModal(statisticContent)">
                        <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
                        <span>Statistic</span>
                    </button>
                </div>
            </div>           -->
        </div>
        <div class="col-lg-2 text-right">
            <!-- <nz-upload
                nzAction="/assets/upload"
                nzAccept=".txt"
                [nzHeaders]="{ authorization: 'authorization-text' }"
                (nzChange)="uploadFile($event, sendMultipleMessageContent)"
            >
                <button nz-button><i nz-icon nzType="upload"></i>Upload</button>
            </nz-upload>
            <span style="margin-left: 3px"></span> -->
            <button nz-button nzType="primary" (click)="createTemplateModal('', createTemplateContent)">
                <i nz-icon nzType="plus"></i>
                <span>Send</span>
            </button>
        </div>
    </div>
    <nz-table 
        #dataMessageFollowerListTable 
        [nzData]="dataMessageFollower"
        [nzFrontPagination]="false"
        nzShowSizeChanger
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzPageSizeOptions] = "[5, 10, 20, 30, 40, 50]"
    >
        <thead>
            <tr>
                <th width='1%'>ID</th>
                <th width='15%'>Name</th>
                <th width='10%'>Image</th>
                <th width='15%'>Link</th>
                <th width='10%'>Create Date</th>
                <th width='10%'>Created by</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataMessageFollowerListTable.data; let i=index">
                <td>{{item.id}}</td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    <img
                        (click)="showImage(item.image, imageContent)"
                        width="100px"
                        height="100px"
                        src={{item.image}}
                        alt=""
                    />
                </td>
                <td>
                    <a href={{item.url}} target="_blank">Xem chi tiết</a>
                </td>
                <td>
                    {{ convertDDMMYYYYHHMM(item.createDate) }}
                </td>
                <td>
                    {{item.createBy}}
                </td>
            </tr>
        </tbody>
    </nz-table>

    <ng-template #imageContent>
        <img
            src={{imageMessageFollow}}
            alt=""
        />
    </ng-template>

    <ng-template #createTemplateContent>
        <form nz-form nzLayout="vertical" >
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item class="relative">
                        <nz-form-label nzRequired>Template</nz-form-label>
                        <nz-form-control nzErrorTip="Please input username!">
                            <nz-input-group>
                                <nz-select 
                                    [(ngModel)]="templateMessageFollowerId"
                                    name="templateMessageFollowerId" 
                                    nzShowSearch class="w-100" nzPlaceHolder="Chọn template"
                                >
                                    <nz-option 
                                        *ngFor="let value of lstTemplate" 
                                        [nzLabel]="value.name"
                                        [nzValue]="value.id"
                                    >
                                    
                                    </nz-option>
                                </nz-select>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <!-- <Input id="file-upload-excel" accept="image/*" type="file" (change)="uploadImage($event)" /> -->

                <div class="col-md-6">
                    <nz-form-item class="relative">
                        <nz-form-label nzRequired>Image</nz-form-label>
                        <nz-form-control nzErrorTip="Please input name!">
                            <nz-input-group>
                                <nz-upload
                                    nzAccept='.png,.jpeg,.jpg'
                                    nzAction="http://localhost:3001/incom/uploadImage"
                                    nzListType="picture-card"
                                    [(nzFileList)]="fileList"
                                    [nzShowButton]="fileList.length < 1"
                                    [nzPreview]="handlePreview"
                                    (nzChange)="uploadImages($event)"
                                >
                                    <div>
                                        <i nz-icon nzType="plus"></i>
                                        <div style="margin-top: 8px">Upload</div>
                                    </div>
                                </nz-upload>
                                <nz-modal
                                    [nzVisible]="previewVisible"
                                    [nzContent]="modalContent"
                                    [nzFooter]="null"
                                    (nzOnCancel)="previewVisible = false"
                                >
                                    <ng-template #modalContent>
                                    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                                    </ng-template>
                                </nz-modal>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <nz-form-item>
                <nz-form-label nzRequired>Link</nz-form-label>
                <nz-form-control>
                    <input type="text" name="link" [(ngModel)]="link" nz-input placeholder="Please input link" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
</nz-card>