<h2>Users</h2>
<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-10">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Search Username" [(ngModel)]="searchUser" (ngModelChange)="searchUsername()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select 
                        style="min-width: 220px;" 
                        class="w-100" 
                        nzPlaceHolder="Team" 
                        [(ngModel)]="selectedTeam" 
                        (ngModelChange)="teamChange($event)"
                    >
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option *ngFor="let value of filterTeamData" [nzLabel]="value" [nzValue]="value"></nz-option>
                    </nz-select>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select 
                        style="min-width: 220px;" 
                        class="w-100" 
                        nzPlaceHolder="Branch" 
                        [(ngModel)]="selectedBranch" 
                        (ngModelChange)="branchChange($event)"
                    >
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option *ngFor="let value of filterBranchData" [nzLabel]="value" [nzValue]="value"></nz-option>
                    </nz-select>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select 
                        style="min-width: 220px;" 
                        class="w-100" 
                        nzPlaceHolder="Room" 
                        [(ngModel)]="selectedRoom" 
                        (ngModelChange)="roomChange($event)"
                    >
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option *ngFor="let value of filterRoomData" [nzLabel]="value" [nzValue]="value"></nz-option>
                    </nz-select>
                </div>
            </div>          
        </div>
        <div class="col-lg-2 text-right">
            <button nz-button nzType="primary" (click)="showSendMessageModal(sendMessageContent)">
                <i nz-icon nzType="plus"></i>
                <span>User</span>
            </button>
            <ng-template #sendMessageContent>
                <!-- <form nz-form nzLayout="vertical">
                    <nz-form-item>
                        <nz-form-label nzRequired>Phone number</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixPhone">
                                <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" nz-input placeholder="Please input phone number" />
                            </nz-input-group>
                            <ng-template #prefixPhone><i nz-icon nzType="phone"></i></ng-template>
                            <nz-form-explain *ngIf="requiredForm.phoneNumber" style="color: red;">
                                Please input phone number!
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzRequired>Content</nz-form-label>
                        <nz-form-control>
                            <textarea name="contentMessage" [(ngModel)]="contentMessage" placeholder="Please input content message" nz-input></textarea>
                        </nz-form-control>
                        <nz-form-explain *ngIf="requiredForm.content" style="color: red;">
                            Please input content message!
                        </nz-form-explain>
                    </nz-form-item>
                </form> -->
            </ng-template>
        </div>
    </div>

    <nz-table 
        #usersListTable 
        [nzData]="users"
        [nzFrontPagination]="false"
        nzShowSizeChanger
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzPageSizeOptions] = "[5, 10, 20, 30, 40, 50]"
    >
        <thead>
            <tr>
                <th width='3%'>ID</th>
                <th width='5%'>Username</th>
                <th width='10%'>Name</th>
                <th width='5%'>Team</th>
                <th width='5%'>Branch</th>
                <th width='5%'>Room</th>
                <th width='10%'>Code</th>
                <th width='15%'>Note</th>
                <th width='5%'>Permission</th>
                <th width='5%'>Status</th>
                <th width='5%'>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of usersListTable.data; let i=index">
                <td>{{item.id}}</td>
                <td>{{item.username}}</td>
                <td>{{item.name}}</td>
                <td>{{item.team}}</td>
                <td>{{item.branch}}</td>
                <td>{{item.transaction_room}}</td>
                <td>{{item.code}}</td>
                <td>{{item.note}}</td>
                <td>{{item.permission}}</td>
                <td style="text-align: center;">
                    <nz-badge  nzStatus="success"></nz-badge>
                </td>
                <td class="text-md-right">
                    <a class="m-r-5" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Edit" >
                        <i nz-icon nzType="edit" theme="outline"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>