<h2>Thu hộ sim</h2>
<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-10">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-select 
                        class="w-100" 
                        style="min-width: 500px;" 
                        formControlName="bankCode"
                        nzPlaceHolder="Bank..." 
                    >
                        <nz-option 
                            nzCustomContent 
                            *ngFor="let value of banks" 
                            [nzLabel]="value.name"
                            [nzValue]="value.id"
                        >
                            <img style='width: 60px;' src={{value.logo}}> 
                            {{value.name}}
                        </nz-option>
                    </nz-select>
                </div>
                <!-- <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Account Name..." [(ngModel)]="searchAccountName" (ngModelChange)="searchAccount()">
                    </nz-input-group>
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>
                </div> 
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select 
                        style="min-width: 220px;" 
                        class="w-100" 
                        nzPlaceHolder="Status" 
                        [(ngModel)]="selectedStatus" 
                        (ngModelChange)="statusChange($event)"
                    >
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option nzLabel="Success" nzValue="success"></nz-option>
                        <nz-option nzLabel="Fail" nzValue="fail"></nz-option>
                    </nz-select>
                </div>
                <div class="m-b-10 m-r-20">
                    <nz-select 
                        style="min-width: 140px;" 
                        class="w-100" 
                        nzPlaceHolder=">= Amount" 
                        [(ngModel)]="amount" 
                        (ngModelChange)="amountChange($event)"
                    >
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option nzLabel="500,000,000" nzValue="500000000"></nz-option>
                    </nz-select>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-range-picker [nzFormat]="dateFormat" [(ngModel)]="searchDate" (ngModelChange)="onChangeDateRange($event)"></nz-range-picker>
                </div>
                <div class="media align-items-center m-r-40 m-v-5">
                    <div class="font-size-27">
                        <i class="text-primary" nz-icon nzType="profile" theme="outline"></i>
                    </div>
                    <div class="d-flex align-items-center m-l-10">
                        <h2 class="m-b-0 m-r-5">{{totalMoney | number}}</h2>
                        <span class="text-gray">VND</span>
                    </div>
                </div> -->
                <!-- <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <button nz-button nzType="primary" (click)="showStatisticModal(statisticContent)">
                        <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
                        <span>Statistic</span>
                    </button>
                </div> -->
            </div>          
        </div>
        <!-- <div class="col-lg-2 text-right" style="display: flex;">
            <nz-upload
                nzAction="/assets/upload"
                nzAccept=".txt"
                [nzHeaders]="{ authorization: 'authorization-text' }"
                (nzChange)="uploadFile($event, sendMultipleMessageContent)"
            >
                <button nz-button><i nz-icon nzType="upload"></i>Upload</button>
            </nz-upload>
            <span style="margin-left: 3px"></span>
            <button nz-button nzType="primary" (click)="showSendMessageModal(sendMessageContent)">
                <i nz-icon nzType="plus"></i>
                <span>Message</span>
            </button>
        </div> -->
    </div>
    
    <nz-table 
        #paymentsListTable 
        [nzData]="sms"
        [nzFrontPagination]="false"
        nzShowSizeChanger
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex"
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzPageSizeOptions] = "[5, 10, 20, 30, 40, 50]"
    >
        <thead>
            <tr>
                <th width='1%'></th>
                <th width='10%'>Name</th>
                <th width='60%'>Content</th>
                <th width='13%'>Received Time</th>
                <th width='5%'>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of paymentsListTable.data; let i=index">
                <td>{{item.idx}}</td>
                <td>
                    <img *ngIf="item.fromNm == 'Techcombank'" style="width: 100%;" src="assets/images/logo/TCB.png" />
                    <img *ngIf="item.fromNm == 'BIDV'" style="width: 100%;" src="assets/images/logo/BIDV.png" />
                    <img *ngIf="item.fromNm == 'VietinBank'" style="width: 100%;" src="assets/images/logo/ICB.png" />
                    <img *ngIf="item.fromNm == 'BanVietBank'" style="width: 100%;" src="assets/images/logo/VCCB.png" />
                    <img *ngIf="item.fromNm == 'Vietcombank'" style="width: 100%;" src="assets/images/logo/VCB.png" />
                    <img *ngIf="item.fromNm == 'ACB'" style="width: 100%;" src="assets/images/logo/ACB.png" />
                    <img *ngIf="item.fromNm == 'HDBank'" style="width: 100%;" src="assets/images/logo/HDB.png" />
                    <img *ngIf="item.fromNm == 'Sacombank'" style="width: 100%;" src="assets/images/logo/STB.png" />
                </td>
                <td>
                    {{item.message}}
                </td>
                <td>{{item.receivedTime  | date:'dd/MM/YYYY HH:mm:ss a'}}</td>
                <td>
                    <button 
                        *ngIf="item.fromNm == 'Vietcombank'"
                        (click)="depositModal(item, createActionContent)" 
                        class="m-r-5" 
                        nz-button 
                        nzType="primary" 
                        nzShape="circle" 
                        nz-tooltip 
                        nzTooltipTitle="Deposit" 
                    >
                        <span nz-icon nzType="money-collect" nzTheme="outline"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>

<ng-template #createActionContent>
    <form nz-form nzLayout="vertical">
        <div class="row">
            <div class="col-md-4">
                <nz-form-item class="relative">
                    <nz-form-label nzRequired>Account Number</nz-form-label>
                    <nz-form-control nzErrorTip="Please input username!">
                        <nz-input-group>
                            <input type="text" readonly name="sendItemDeposit.accountNumber" [(ngModel)]="sendItemDeposit.accountNumber" nz-input placeholder="Please input account number" />
                            <!-- <input type="text" nz-input formControlName="username" placeholder="Please input username"> -->
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-4">
                <nz-form-item class="relative">
                    <nz-form-label nzRequired>Sub Number</nz-form-label>
                    <nz-form-control nzErrorTip="Please input sub number!">
                        <nz-input-group>
                            <input type="text" name="sendItemDeposit.subNumber" [(ngModel)]="sendItemDeposit.subNumber" nz-input placeholder="Please input account number" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-4">
                <nz-form-item class="relative">
                    <nz-form-label nzRequired>Amount</nz-form-label>
                    <nz-form-control nzErrorTip="Please input name!">
                        <nz-input-group>
                            <nz-input-number
                                [nzDisabled]="true"
                                style="width: 100%"
                                [nzMin]="0"
                                [nzFormatter]="formatterNumber" 
                                name="sendItemDeposit.amount" 
                                placeholder="Please input amount" 
                                [(ngModel)]="sendItemDeposit.amount" 
                            ></nz-input-number>
                            <!-- <input type="text" name="sendItemDeposit.amount" [(ngModel)]="sendItemDeposit.amount" nz-input placeholder="Please input account number" /> -->
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <nz-form-item class="relative">
                    <nz-form-label nzRequired>Account Bank</nz-form-label>
                    <nz-form-control nzErrorTip="Please input username!">
                        <nz-input-group>
                            <input type="text" readonly name="sendItemDeposit.accountBank" [(ngModel)]="sendItemDeposit.accountBank" nz-input placeholder="Please input account number" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-9">
                <nz-form-item class="relative">
                    <nz-form-label nzRequired>Message</nz-form-label>
                    <nz-form-control nzErrorTip="Please input username!">
                        <nz-input-group>
                            <textarea readonly name="sendItemDeposit.content"  [nzAutosize]="{ minRows: 3, maxRows: 3 }" [(ngModel)]="sendItemDeposit.content" placeholder="Please input content message" nz-input></textarea>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>